<p id="notice"><%= notice %></p>

<div class="container">
<h1>Listing Todo Items</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="4">You Got This</th>
    </tr>
  </thead>

  <tbody>
    <% @todo_items.each do |todo_item| %>
      <tr>
        <td><%= todo_item.description %></td>
        <td><input type="checkbox" class="check"></td>
        <td><%= link_to 'Show', todo_item %></td>
        <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
        <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<footer>
<%= link_to 'New Todo item', new_todo_item_path %>
</footer>
